<form [formGroup]="formulario">
    <h1> Buscar Veiculo</h1>
    <div class="form-group form">
        <a>Marca:</a>
        <select class="form-control" type="number" formControlName="marca" [(ngModel)]="idMarca" (ngModelChange)="callingNewMethod()">
            <option value="null" disabled selected>Selecione uma marca</option>
            <option *ngFor="let marca of marcas" [ngValue]="marca.id">
                <p>{{ marca.nome }}</p>
            </option>
          </select>
        <a>Modelo:</a>
        <select class="form-control" type="number" formControlName="modelo" [(ngModel)]="idModelo" (ngModelChange)="callingNewMethod()">
            <option value="null" disabled selected>Selecione uma modelo</option>
            <option *ngFor="let modelo of modelos" [ngValue]="modelo.id">
                <p>{{ modelo.nome }}</p>
            </option>
          </select>
        <label>Valor de:</label>
        <input formControlName="valorDe" name="valorDe" required matInput [(ngModel)]="valorDe" placeholder="Ex._">
        <label>Valor até:</label>
        <input formControlName="valorAte" name="valorAte" required matInput [(ngModel)]="valorAte" placeholder="Ex._">
        <button class="mat-elevation-z8" (click)="callingNewMethod()" mat-stroked-button color="accent">Buscar</button>
        <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">Cancelar</button>
    </div>
    <div class="mat-elevation-z8 full-width marca">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="nomeModelo">
                <th mat-header-cell *matHeaderCellDef>Modelo
                </th>
                <td mat-cell *matCellDef="let element"> {{element.modelo.nome}} </td>
            </ng-container>
            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef>Valor</th>
                <td mat-cell *matCellDef="let element">{{ element.valor }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[2, 5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</form>